/* #region Fonts and colors */
@font-face {
	font-family: "Nokia";
	src: url("../assets/fonts/nokiafc22.ttf");
}

@font-face {
	font-family: "SqueezedPixels";
	src: url("../assets/fonts/SqueezedPixels.ttf");
}

:root {
	--dialogue-width: 59.5em; /* Width of a standard dialogue box */
	--block-spacing: 2em; /* Margins around non-dialogue blocks */
	--portrait-size: 4.25em; /* Width of a standard talksprite */
	--border-width: 3.5px; /* Width of 1 in-game pixel */
	--form-gap: min(1em, 1vmax); /* Gap between buttons */
	--image-height: 30em; /* Maximum height for images (blocks and previews) */

	--text-oliver: #a97844;
	--bg-oliver: #311a05;

	--text-angel: #7f8a93;
	--bg-angel: #32383e;

	--text-vivi: #a24759;
	--bg-vivi: #2e0b13;

	--text-marigold: #739cb5;
	--bg-marigold: #121b4f;

	--text-nina: #8b6fb9;
	--bg-nina: #25163e;

	--text-nadia: #b273a1;
	--bg-nadia: #3c193e;

	--text-owen: #8089b2;
	--bg-owen: #202a55;

	--text-simon: #809b64;
	--bg-simon: #30361f;

	--text-house: #87588a;
	--bg-house: #27002a;

	--text-gallery: #ab9343;
	--bg-gallery: #2c2305;

	--text-police: #625565;
	--bg-police: #231e23;

	--text-trueending: #a6bec9;
	--bg-trueending: #2f4b55;

	--text-train: #8b444b;
	--bg-train: #33020d;

	--text-trainunofficial: #fac15a;
	--bg-trainunofficial: #7d122c;	/* Darker red from inside train */
}

.oliver,
.orange {
	--text: var(--text-oliver);
	--bg: var(--bg-oliver);
}
.angel,
.gray {
	--text: var(--text-angel);
	--bg: var(--bg-angel);
}
.vivi,
.red {
	--text: var(--text-vivi);
	--bg: var(--bg-vivi);
}
.mari, .marigold,
.royalblue, .darkblue {
	--text: var(--text-marigold);
	--bg: var(--bg-marigold);
}
.nina,
.violet, .blueypurple {
	--text: var(--text-nina);
	--bg: var(--bg-nina);
}
.nadia,
.pink {
	--text: var(--text-nadia);
	--bg: var(--bg-nadia);
}
.owen,
.cornflower, .lightblue {
	--text: var(--text-owen);
	--bg: var(--bg-owen);
}
.simon,
.green {
	--text: var(--text-simon);
	--bg: var(--bg-simon);
}
.eugene, .coli,
.house,
.purple {
	--text: var(--text-house);
	--bg: var(--bg-house);
}
.gallery,
.yellow {
	--text: var(--text-gallery);
	--bg: var(--bg-gallery);
}
.police,
.darkgray {
	--text: var(--text-police);
	--bg: var(--bg-police);
}
.trueending,
.skyblue {
	--text: var(--text-trueending);
	--bg: var(--bg-trueending);
}
.train,
.redtrain {
	--text: var(--text-train);
	--bg: var(--bg-train);
}
.trainunofficial,
.redyellow {
	--text: var(--text-trainunofficial);
	--bg: var(--bg-trainunofficial);
}
/* #endregion */

/* #region General site */
* {
	box-sizing: border-box;
	font-weight: normal;
	line-height: 1.2;

	scrollbar-width: thin;
	scrollbar-color: var(--bg-house) var(--text-house);

	/* Disable anti-aliasing to get that pixel look on all images
	Retrieved from https://forum.squarespace.com/topic/240034-how-to-disable-anti-aliasing-site-wide-for-pixel-art/ */
	image-rendering: optimizeSpeed;				/* STOP SMOOTHING, GIVE ME SPEED	*/
	image-rendering: -moz-crisp-edges;			/* Firefox							*/
	image-rendering: -o-crisp-edges;			/* Opera							*/
	image-rendering: -webkit-optimize-contrast;	/* Chrome (and eventually Safari)	*/
	image-rendering: pixelated;					/* Universal support since 2021		*/
	image-rendering: optimize-contrast;			/* CSS3 Proposed					*/
	-ms-interpolation-mode: nearest-neighbor;	/* IE8+								*/
}

body {
	margin: 0;
	min-width: fit-content;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	border: min(5em, 10vmin) solid transparent;
	border-image: url("../assets/images/pauseBorder.png") 19% repeat;
	font-family: "Nokia";
	color: var(--text-house);
	background-color: var(--bg-house);

	a:link { color: hsl(from var(--text-house) h calc(s + 5) calc(l + 20)) }
	a:visited { color: hsl(from var(--text-house) h calc(s + 10) calc(l + 5)) }
}

#root {
	display: contents;
}

#sitehead, #sitefoot, #explainer {
	text-align: center;
}

/* Header */
#sitehead h1 {
	color: white;
	margin-block-start: 0;
}

/* Body */
#sitebody {
	container: blocks / inline-size;
	/* Unless they add border-image-repeat: no-repeat, the border is just going to disappear on small screens. Don't want that, so switch to using pseudo-elements
	border-block: 2em solid transparent;
	border-image: url("../assets/images/curlyBorder.png") 35 0 space;
	padding-block: 3em;
	*/
	width: 100%;
	max-width: var(--dialogue-width);
	margin-inline: auto;
	&::before, &::after {
		content: "";
		display: block;
		height: min(2em, 5vmin);
		background: url("../assets/images/curlyBorder.png") center no-repeat;
		background-size: contain;
	}
	&::before {
		margin-block-end: 3em;
	}
	&::after {
		transform: scaleY(-1);
		margin-block-start: 3em;
	}

	/* Expand to regular width when saving as PNG */
	&:has(#dialogues:is(.screenshotting, .previewing)) { width: var(--dialogue-width) }
}

/* Footer */
#sitefoot > :last-child { margin-block-end: 0 }
/* #endregion */

/* #region Top menu */
#imagesizing {
	font-size: 0.9em;
	text-align: center;
	@container blocks (min-width: 59.5em) {
		display: none;
	}
}
#topmenu {
	margin: 0 auto 2em;
	display: flex;
	flex-flow: row wrap;
	width: fit-content;
	max-width: 100vw;
	justify-content: center;
	gap: var(--form-gap);
	position: sticky;
	top: 1em;
	z-index: 2;

	/* Keep in viewport when side-scrolling */
	&:has(~ #dialogues.previewing) {
		position: fixed;
		left: 0;
		width: 100vw;
		padding-inline: 0.5em;
	}

	button { padding: 0.5em 1em }
}
#previewimage {
	--text: var(--text-angel);
	--bg: var(--bg-angel);

	/* Hide entirely if already at full size (var(--dialogue-width)) */
	@container blocks (min-width: 59.5rem) {
		/* …But not when previewing, obviously, or you won't be able to turn preview mode off */
		#topmenu:has(~ #dialogues:not(.previewing)) & {
			display: none;
		}
	}
}
#saveimage {
	--text: var(--text-trueending);
	--bg: var(--bg-trueending);
}
#clearall {
	--text: var(--text-vivi);
	--bg: var(--bg-vivi);
}
/* #endregion */

/* #region Dialogues section */
#dialogues {
	/* Shrink font size on narrow screens */
	&:not(.screenshotting, .previewing) {
		@media (max-width: 40rem) {
			font-size: 80%;
		}
	}

	& .blockform { margin-block: 0.75em }
	& > :first-child { margin-block-start: 0 }
	& > :last-child { margin-block-end: 0 }
}
/* #endregion */

/* #region Reusable components */
[hidden] { display: none !important }

.visuallyhidden {
	position: fixed;
	top: 100%;
	left: 100%;
}

input, textarea, select, option {
	font-family: "Nokia", monospace;
	font-size: inherit;
}
textarea {
	resize: vertical;
	color: inherit;
	background-color: inherit;
}

.menu {
	max-width: calc(var(--dialogue-width) - 10em);
	margin: 3em auto 0;
	padding-block: 1em;
	border: 1.25em solid transparent;
	border-image: url("../assets/images/prettyBorder.png") 35% repeat;

	h2 {
		margin-block: 0 0.5em;
		text-align: center;
	}
}

/* #region Form buttons */
.blockbtn, .barbtn, .barbtn:link, .barbtn:visited {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: inherit;
	font-size: 1rem;

	&:not([disabled]) {
		cursor: pointer;
		&:is(:hover, :focus-within) {
			background-color: var(--text);
		}
	}
}
.blockbtn {
	padding: 0.5em 0.75em;
	border: var(--border-width) solid var(--text, currentColor);
	background-color: var(--bg);

	&:not([disabled]):is(:hover, :focus-within) { color: var(--bg) }

	&[disabled] {
		opacity: 0.5;
		color: #fff8;
		cursor: not-allowed;
	}
}
.editbtn {
	--text: var(--text-angel);
	--bg: var(--bg-angel);
}
.movebtn {
	--text: var(--text-oliver);
	--bg: var(--bg-oliver);
}
.deletebtn {
	--text: var(--text-vivi);
	--bg: var(--bg-vivi);
}

.barbtn {
	--text: var(--text-house, currentColor);
	--bg: var(--bg-house);
	background-color: var(--bg);
	border-block: var(--border-width) solid var(--text);
	border-inline: none;
	margin-inline: -0.75rem;
	padding-block: 0.25rem;

	&.samplebtn { font-size: 0.9em }
}
/* #endregion */
/* #endregion */