/* #region Fonts and colors */
@font-face {
	font-family: "Nokia";
	src: url("../assets/fonts/nokiafc22.ttf");
}

@font-face {
	font-family: "SqueezedPixels";
	src: url("../assets/fonts/SqueezedPixels.ttf");
}

:root {
	--portrait-size: 4.25em;
	--border-width: 3.5px;

	--text-oliver: #a97844;
	--bg-oliver: #311a05;

	--text-angel: #7f8a93;
	--bg-angel: #32383e;

	--text-vivi: #a24759;
	--bg-vivi: #2e0b13;

	--text-marigold: #739cb5;
	--bg-marigold: #121b4f;

	--text-nina: #8b6fb9;
	--bg-nina: #25163e;

	--text-nadia: #b273a1;
	--bg-nadia: #3c193e;

	--text-owen: #8089b2;
	--bg-owen: #202a55;

	--text-simon: #809b64;
	--bg-simon: #30361f;

	--text-house: #87588a;
	--bg-house: #27002a;

	--text-gallery: #ab9343;
	--bg-gallery: #2c2305;

	--text-police: #625565;
	--bg-police: #231e23;

	--text-trueending: #a6bec9;
	--bg-trueending: #2f4b55;
}

.oliver,
.orange {
	--text: var(--text-oliver);
	--bg: var(--bg-oliver);
}
.angel,
.gray {
	--text: var(--text-angel);
	--bg: var(--bg-angel);
}
.vivi,
.red {
	--text: var(--text-vivi);
	--bg: var(--bg-vivi);
}
.mari, .marigold,
.royalblue, .darkblue {
	--text: var(--text-marigold);
	--bg: var(--bg-marigold);
}
.nina,
.violet, .blueypurple {
	--text: var(--text-nina);
	--bg: var(--bg-nina);
}
.nadia,
.pink {
	--text: var(--text-nadia);
	--bg: var(--bg-nadia);
}
.owen,
.cornflower, .lightblue {
	--text: var(--text-owen);
	--bg: var(--bg-owen);
}
.simon,
.green {
	--text: var(--text-simon);
	--bg: var(--bg-simon);
}
.eugene, .coli,
.house,
.purple {
	--text: var(--text-house);
	--bg: var(--bg-house);
}
.gallery,
.yellow {
	--text: var(--text-gallery);
	--bg: var(--bg-gallery);
}
.police,
.dimgray {
	--text: var(--text-police);
	--bg: var(--bg-police);
}
.trueending,
.lightblue {
	--text: var(--text-trueending);
	--bg: var(--bg-trueending);
}
/* #endregion */

/* #region General site */
* {
	box-sizing: border-box;
	font-weight: normal;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	border: 3em solid transparent;
	border-image: url("../assets/images/bigBorder.png") 34% repeat;
	font-family: "Nokia";
	color: var(--text-house);
	background-color: var(--bg-house);
	
	a:link { color: #bc90bf }
	a:visited { color: #a85cad }
}

#root {
	display: contents;
}

#sitehead, #sitefoot, #explainer {
	text-align: center;
}

#sitehead h1 { color: white }

#sitebody {
	border-block: 2em solid transparent;
	border-image: url("../assets/images/curlyBorder.png") 35 0 space;
	padding-block: 3em;
	width: 59.5em;
	margin-inline: auto;

	/* Disable anti-aliasing to get that pixel look on all images */
	image-rendering: -moz-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;

	#dialogues { padding-block: 2em }

	#clearall {
		display: block;
		font: inherit;
		padding: 0.5em 1em;
		margin-inline: auto;
		--text: var(--text-vivi);
		--bg: var(--bg-vivi);
		background-color: var(--bg);
		color: white;
		border: var(--border-width) solid var(--text);
		cursor: pointer;

		&:is(:hover, :focus) { background-color: var(--text) }
	}
}

[hidden] { display: none !important }
/* #endregion */