.dialogueform {
	margin-inline: 5em;
	padding-block: 1em;
	border: 1.25em solid transparent;
	border-image: url("../assets/images/smallBorder.png") 34% repeat;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	--labelwidth: 7.5em;

	h2 {
		margin-block: 0 0.5em;
		text-align: center;
	}

	label {
		display: grid;
		grid-template-columns: var(--labelwidth) 1fr;
		align-items: start;
		text-align: end;
		gap: 0.5em;
		padding-inline: 1em;
	}
	.labeltext {
		padding-block-start: 0.5em;
	}

	input, textarea, select {
		background-color: var(--bg-house);
		color: var(--text-house);
		font-family: "Nokia", monospace;
		font-size: inherit;
		border: 0.15rem solid currentColor;
		padding-inline: 0.5em;
		
		&:user-invalid {
			box-shadow: 0 0 0.1em 0.1em var(--text-vivi);
		}
	}
	select .labeltext { padding-block-start: 0.1em }
	select { padding-block: 0.3em }

	input, textarea, #inputcolor, #inputcolor option {
		color: var(--text);
		background-color: var(--bg);
	}

	#inputspeaker {
		font-family: "SqueezedPixels";
		padding-block-start: 0.75em;
		font-size: 1.1em;
	}

	#labelportrait {
		grid-template-columns: var(--labelwidth) 1fr auto;
		align-items: center;

		.portrait { width: 6em }
	}

	#inputdialogue {
		font-size: 0.8em;
		padding-block: 0.5em;
		resize: vertical;
	}

	button {
		background-color: inherit;
		color: white;
		border-block: 0.15rem solid var(--text-house);
		border-inline: none;
		font-family: inherit;
		margin-inline: -0.75rem;
		padding-block: 0.25rem;
		cursor: pointer;

		&:is(:hover, :focus) {
			background-color: var(--text-house);
		}
		& + button { margin-block-start: -0.2rem }

		&.submitbtn {
			font-size: 1.5em;
			margin-block-start: 0.5rem;
		}
		&.resetbtn { font-size: 1.2em }
	}
}