.block {
	/* Set as anchor for ModMenus */
	position: relative;

	#dialogues.screenshotting &:is(.choice, .image):first-child	{ padding-block-start: var(--block-spacing) }
	#dialogues.screenshotting &:is(.choice, .image):last-child	{ padding-block-end: var(--block-spacing) }
}

/* The ModMenu itself */
.modmenu {
	position: absolute;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	align-content: center;
	gap: 0.2em;
	text-wrap: nowrap;

	/* Place to right on wide screens */
	@media (min-width: 95em) {
		top: 0;
		left: 100%;
		padding-inline: 0.75rem;
		height: 100%;
	}

	/* Place to bottom on narrow screens */
	@media (max-width: 95em) {
		top: 100%;
		right: 2vmin;
		margin-block-start: -1em;
		z-index: 1;

		@container blocks (min-width: 40rem) {
			display: flex;
			flex-flow: row wrap;
			justify-content: end;

			button { width: 9em }
		}
	}

	.editbtn {
		grid-column: 1;
		grid-row: 1;
	}
	.deletebtn {
		grid-column: 1;
		grid-row: 2;
	}
	.movebtn {
		grid-column: 2;
	}
}

:not(:hover, :focus-within) > .modmenu { opacity: 0 }
#dialogues.screenshotting .modmenu { display: none }