/* The tab menu for AddForm */
#tabber {
	border: none;
	display: flex;
	gap: 1em;
	margin: 0 5vw 1em;
	padding: 0.5em 0 0;

	legend { margin-inline: auto }

	label {
		flex-grow: 1;
		text-align: center;
		display: block;
		border: var(--border-width) solid var(--text);
		padding: 0.5em 0.75em;
		cursor: pointer;
		--bg: var(--bg-nina);
		--text: var(--text-nina);
		background-color: var(--bg);
		color: var(--text);

		&:has(:checked) {
			--bg: var(--bg-marigold);
			--text: var(--text-marigold);
			color: white;
		}
		&:is(:hover, :focus-within) {
			background-color: var(--text);
			color: var(--bg);
		}
	}
}

/* Use parent form spacing for each tab */
fieldset.inputsection { display: contents }

/* The form sections themselves */
.blockform {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	--labelwidth: 7.5em;

	label {
		display: grid;
		grid-template-columns: var(--labelwidth) 1fr;
		align-items: start;
		text-align: end;
		gap: 0.5em;
		padding-inline: 1em;
	}
	.labeltext {
		padding-block-start: 0.5em;
	}

	input, textarea, select {
		background-color: var(--bg-house);
		color: var(--text-house);
		font-family: "Nokia", monospace;
		font-size: inherit;
		border: var(--border-width) solid currentColor;
		padding-inline: 0.5em;
		
		&:user-invalid {
			box-shadow: 0 0 0.1em 0.1em var(--text-vivi);
		}
	}
	select .labeltext { padding-block-start: 0.1em }
	input:not(.inputspeaker), select { padding-block: 0.3em }

	input[type="text"], .inputdialogue, .inputcolor, .inputcolor option {
		color: var(--text);
		background-color: var(--bg);
	}

	.inputspeaker {
		font-family: "SqueezedPixels";
		padding-block-start: 0.75em;
		font-size: 1.1em;
	}

	.labelportrait {
		grid-template-columns: var(--labelwidth) 1fr auto;
		align-items: center;

		.labeltext { padding-block-start: 0 }

		.portrait {
			width: 6em;
			grid-column: 3;
			grid-row: 1 / span 2;
		}
	}
	.seeallportraits {
		font-size: 0.9em;
		padding: 0.35em 0.75em;
		grid-column: 2;
		grid-row: 2;
	}

	.inputdialogue {
		font-size: 0.8em;
		padding-block: 0.5em;
	}

	select { width: 100% }

	button {
		.blockform > & + & { margin-block-start: -0.2rem }

		#keepcolor + & { margin-block-start: 0.5rem }

		&.submitbtn { font-size: 1.5em }
		&.resetbtn, &.addbtn { font-size: 1.2em }
	}

	.optionmods {
		display: flex;
		gap: 0.5em;
		margin-block: 0.3em 0.1em;
		margin-inline-start: var(--labelwidth);
		padding-inline: 1.5em 1em;

		.labelselected {
			grid-template-columns: auto 1fr;
			align-items: center;
			min-height: 2.8em;
			padding-inline: 0.5em;
		}

		button {
			flex-grow: 1;
			margin-inline: 0;
			border: var(--border-width) solid var(--text);
			padding: 0.5em 0.75em;
		}
	}
}

/* Keep color toggle at bottom of AddForm */
#keepcolor {
	grid-template-columns: auto 1fr;
	width: fit-content;
	margin-inline: auto;
	text-align: start;
	padding-block: 1em 0.5em;
}

label:has(input[type="checkbox"]) {
	cursor: pointer;

	.labeltext { padding-block-start: 0.2em }

	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.5em;
		height: 1.5em;
		border: var(--border-width) solid var(--text-house);
		text-align: center;
	}

	input {
		&:checked ~ .icon::before {
			content: "x";
			padding-inline-start: 0.1em;
		}
		&:active ~ .icon { background-color: var(--text-house) }
	}
}

/* #region All portraits dialog */
#allportraits {
	width: 100%;
	max-width: 45em;
	margin-block: auto;
	background-color: var(--bg-house);
	color: var(--text-house);

	&::backdrop {
		background-color: rgba(from var(--text-house) r g b / 0.25);
	}

	#closeportraits {
		position: fixed;
		top: 1em;
		right: 2em;
	}

	.portraitgroup { margin-block-start: 1.5em }

	.portraitgroup summary {
		font-size: 1.25em;
		margin-block: 0.5em;
		cursor: pointer;
	}

	.portraitlist {
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		gap: 1em;
	}

	.portraitdata {
		display: block;
		width: 9em;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5em 1em;
		text-align: center;
	}

	.portrait { font-size: 1.5em }
}

/* Prevent scrolling outside dialog */
body:has(dialog[open]) { overflow: hidden }
/* #endregion */