#jsonform {
	& > :first-child { margin-block: 0 }
	.explainer { text-align: center }
}

#jsoninput {
	display: block;
	width: calc(100% - 2em);
	margin: 1em auto;
	border: var(--border-width) solid;
	padding: 0.5em;
	font-size: 1.25em;
	font-family: monospace;
	height: 15em;
	scrollbar-width: thin;
}

/* #region Buttons */
#jsonform .buttons {
	padding: 0 3em;
	display: flex;
	flex-flow: row wrap;
	gap: var(--form-gap);

	button, label { flex-grow: 1 }

	& + .explainer {
		min-height: 1.2em;
		margin-block: 1em;
	}
}
#copyjson {
	--text: var(--text-nadia);
	--bg: var(--bg-nadia);

	.buttons:has(&:not(:hover, :focus-within)) + .explainer #copyexplainer { display: none }
}
#downloadjson {
	--text: var(--text-owen);
	--bg: var(--bg-owen);

	.buttons:has(&:not(:hover, :focus-within)) + .explainer #downloadexplainer { display: none }
}
#uploadlabel {
	--text: var(--text-simon);
	--bg: var(--bg-simon);

	.buttons:has(&:not(:hover, :focus-within)) + .explainer #uploadexplainer { display: none }
}
/* #endregion */

#jsonform .samplebtn { margin: 1em -0.75rem 0 }