.modmenu {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: -0.3em;
	padding-inline: 0.5em;
	height: 100%;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	align-content: center;
	gap: 0.2em;
	text-wrap: nowrap;
	
	.editbtn {
		grid-column: 1;
		grid-row: 1;
	}
	.deletebtn {
		grid-column: 1;
		grid-row: 2;
	}
	.movebtn {
		grid-column: 2;
	}
}

:not(:hover, :focus-within) > .modmenu { opacity: 0 }
#dialogues.screenshotting .modmenu { display: none }