.dialogue {
	padding: 0.5em;
	font-size: 1.5em;
	color: var(--text);
	background-color: var(--bg);
	position: relative;

	.buttons {
		position: absolute;
		top: 0;
		left: 100%;
		margin-left: -0.3em;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.2em;
		text-wrap: nowrap;
		
		button {
			color: white;
			background-color: var(--bg);
			font: inherit;
			font-size: 1rem;
			border: 0.1em solid var(--text);
			padding: 0.5em 0.75em;
			cursor: pointer;

			&:is(:hover, :focus) {
				background-color: var(--text);
			}
		}
	}

	.delete {
		--text: var(--text-vivi);
		--bg: var(--bg-vivi);
	}
	.move {
		--text: var(--text-house);
		--bg: var(--bg-house);
	}

	&:not(:hover, :focus-within) .buttons {
		display: none;
	}
}

/* Header: name of speaker */
.dialogue .speaker {
	font-family: "SqueezedPixels";

	span {
		position: relative;
		top: 0.25em;
		display: inline-block;
		line-height: 1;
	}

	.question {
		color: var(--bg);
		position: relative;
		z-index: 0;
		padding-inline: 0.15em;
		margin-inline: 0.15em;
		
		&::before {
			content: "";
			display: block;
			width: 75%;
			height: 75%;
			background-color: var(--text);
			position: absolute;
			top: -25%;
			left: 0.05em;
			z-index: -1;
		}
	}
}

/* #region Body: portrait and actual text */
.dialogue .body {
	display: grid;
	grid-template-columns: auto 1fr;
	
	.text {
		line-height: 1.2;
		border: 0.15em solid var(--text);
		border-inline-start-width: 0;
		margin: 0;
		max-height: var(--portrait-size);
		padding: 0.3em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.portrait {
	width: 4.25em;
	height: auto;
	display: block;
	/* Disable anti-aliasing to get that pixel look */
	image-rendering: -moz-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
/* #endregion */